<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="/sweetalert2.js"></script>
    <title>Lotto Checker</title>
</head>

<body>
    <div class="container" align="center">
        <h1 class="main-title">Vajon nyertél a lottón?</h1>

        <div class="content">
            <h3 class="lotto-type">Lottó típusa</h3>
            <select name="lotto_types" id="lotto_types" class="types-select">
                <option class="options" value="none">---</option>
                <option class="options" value="5">Ötös</option>
                <option class="options" value="6">Hatos</option>
                <option class="options" value="skandi">Skandináv</option>
            </select>

            <form action="/" method="post">
                <div class="inputs-title-div">
                    <h3 class="inputs-title">A saját számaid:</h3>
                </div>
                <div class="lotto5">
                    <% for (let i = 0; i < 5; i++) { %>
                        <div class="number-inputs-div">
                            <input class="number-inputs" type="text" name="input_number">
                        </div>
                    <% } %>
                </div>
                <div class="lotto6">
                    <% for (let i = 0; i < 6; i++) { %>
                        <div class="number-inputs-div">
                            <input class="number-inputs" type="text" name="input_number">
                        </div>
                    <% } %>
                </div>
                <button class="send-button" type="button">Nézzük</button>
            </form>
        </div>
    </div>
    <script src="/scripts.js"></script>
</body>

</html>