body {
  background-color: #effcfb;
}

.main-title {
  color: #138130;
  font-family: "Asap", sans-serif;
  font-size: 50px;
}

.content {
  margin-top: 5%;
  width: 50%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.7);
}

.card {
  height: 300px;
  background-color: #19b243;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.lotto-type {
  font-family: "Asap", sans-serif;
  color: white;
  padding-top: 3%;
  font-size: 30px;
}

.types-select {
  transition: all 0.2s ease;
  color: #1b7e74;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  background-color: white;
  padding: 10px;
}

.options {
  color: #1b7e74;
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.types-select:active {
  outline: none;
  webkit-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.1),
    0 0 8px rgb(62, 168, 255);
  box-shadow: inset 0 1px 1px rgba(128, 128, 128, 0.1),
    0 0 8px rgb(62, 168, 255);
}

.types-select:focus {
  transition: all 0.2s ease;
  outline: none;
}

.send-button {
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 140px;
  background-color: #19b243;
  padding: 15px;
  border: none;
  margin-top: 25px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  font-size: 15px;
}

.send-button:focus {
  outline: none;
}

.send-button:hover {
  transition: all 0.2s ease;
  color: #19b243;
  border: 1px solid #19b243;
  background-color: #fff;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.35);
}

.send-button:active {
  color: white;
  border: none;
  background-color: #90dba4 !important;
}

.inputs-title {
  visibility: hidden;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.lotto5 {
  visibility: hidden;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lotto6 {
  visibility: hidden;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skandi {
  visibility: hidden;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-inputs-div {
  margin: 0 auto;
  height: 10px;
}

.number-inputs {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 30px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #26a69a;
}

.number-inputs:focus {
  outline: none;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.skandiv {
  visibility: hidden;
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.checkbox-custom {
  display: none;
}
.checkbox-custom-label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox-custom + .checkbox-custom-label:after {
  content: "";
  background: #fff;
  border-radius: 5px;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 7px;
  margin-left: 5px;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "";
  padding: 2px;
  position: absolute;
  width: 1px;
  height: 5px;
  border: solid #1b7e74;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 2px;
  left: 112px;
}

.swal2-html-container,
.swal2-title,
.swal2-confirm,
.swal2-cancel {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: 8%;
    width: 80%;
    height: 370px;
  }

  .lotto-type {
    padding-top: 5%;
    font-size: 20px;
  }

  .types-select {
    padding: 5px;
  }

  .send-button {
    margin-top: 40px;
    width: 120px;
    padding: 10px;
  }

  .number-inputs {
    width: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .card {
    height: 250px;
    background-color: #19b243;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .skandi {
    visibility: hidden;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skandiv {
    font-size: 14px;
  }

  .checkbox-custom {
    display: none;
  }
  .checkbox-custom-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }
  .checkbox-custom + .checkbox-custom-label:after {
    content: "";
    background: #fff;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 7px;
    margin-left: 5px;
  }
  .checkbox-custom:checked + .checkbox-custom-label:before {
    content: "";
    padding: 2px;
    position: absolute;
    width: 1px;
    height: 5px;
    border: solid #1b7e74;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    top: 2px;
    left: 100px;
  }
}
