body {
  background-color: #effcfb;
}

.main-title {
  color: #00695c;
  font-family: "Asap", sans-serif;
  font-size: 50px;
}

.content {
  margin-top: 5%;
  width: 50%;
  height: 400px;
  background-color: #26a69a;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.7);
}

.lotto-type {
  font-family: "Asap", sans-serif;
  color: white;
  padding-top: 3%;
  font-size: 30px;
}

.types-select {
  transition: all 0.2s ease;
  color: #1b7e74;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  background-color: white;
  padding: 10px;
}

.options {
  color: #1b7e74;
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.types-select:active {
  outline: none;
  webkit-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.1),
    0 0 8px rgb(62, 168, 255);
  box-shadow: inset 0 1px 1px rgba(128, 128, 128, 0.1),
    0 0 8px rgb(62, 168, 255);
}

.types-select:focus {
  transition: all 0.2s ease;
  outline: none;
}

.send-button {
  color: #1b7e74;
  cursor: pointer;
  text-align: center;
  width: 140px;
  background-color: #fff;
  padding: 15px;
  border: none;
  margin-top: 120px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  font-size: 15px;
}

.send-button:focus {
  outline: none;
}

.send-button:hover {
  transition: all 0.2s ease;
  color: white;
  background-color: #80cbc4;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.35);
}

.send-button:active {
  background-color: #26a69a !important;
}

.inputs-title {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.lotto5 {
  visibility: hidden;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lotto6 {
  visibility: hidden;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-inputs-div {
  margin: 0 auto;
  height: 10px;
}

.number-inputs {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 30px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #26a69a;
}

.number-inputs:focus {
  outline: none;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: 8%;
    width: 80%;
    height: 370px;
  }

  .lotto-type {
    padding-top: 5%;
    font-size: 20px;
  }

  .types-select {
    padding: 5px;
  }

  .send-button {
    margin-top: 140px;
    width: 120px;
    padding: 10px;
    border: none;
  }

  .number-inputs {
    width: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
}
